<!doctype html>
<html>

   <head>
       <title><%= title %></title> <!-- Make this dynamic -->

       <link rel="stylesheet" href="css/style.css" />
   </head>

   <body>

      <%- include(partial, data) %>

      <script src="libs/jquery/dist/jquery.min.js"></script>
      <script src="libs/socket.io-client/socket.io.js"></script>
      <script src="js/cookies.js"></script> <!-- Convenience Cookie Library from Mozilla -->

   </body>

</html>
