<h1>Index</h1>

<h3>Users</h3>
<ul id="online-users-list">
</ul>

<div class="chat-container">

   <h3>Public Chat</h3>

   <ul id="messages">
   </ul>

   <form id="compose-message-form">
      <input id="message-input" name="message" type="text" placeholder="Type something...">
      <button id="send-message-but" type="submit">Send</button>
   </form>

</div>

<!-- Initialize socket here -->
<%- include app %>
