<!doctype html>
<html>

   <head>
       <title>Signup</title>
   </head>

   <body>

      <h1>Signup</h1>

      <form method="post">
         <input type="text" name="username" placeholder="Username" required>
         <input type="password" name="password" placeholder="Password" required>
         <button type="submit">Sign up</button>
         <div class="auth-error-message"><%- error %></div>
      </form>
      <p>
         Already have an account? <a href="/login">Log in</a>
      </p>

   </body>

</html>
