* {
   margin: 0;
   padding: 0;
}

#challenge-modal {

   background: yellow;

}

.message {

}

.my-message {
   background: blue;
}

.not-my-message {
   background: grey;
}

/* Game Board */

.your-turn-indicator { /* Change opacity on this when it isn't your turn */


}

.invalid-move-modal {

   background: red;

}

#gameboard-container {

   display: none;

   background: blue;

   text-align: center;
}

.my-score-container {
   background: green;
}

.opponent-score-container {
   background: red;
}

.my-score-container, .opponent-score-container  {
   display: inline-block;
}
